<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
    <title>Pokemon</title>
</head>
<body>
    <div id="full">
        <nav>
            {% if session['uuid'] != null%}
            <p>{{user_id['first_name']}}</p>
            {% endif %}
            <a href="/register"><p>REGISTER</p></a>
            <a href="/login"><p>LOGIN</p></a>
        </nav>
        <main>
            <h1>Build a PokeTeam</h1>
            <div>
                <input type="search" oninput="getPokeName(this)" id="main-search" autocomplete="off"></intput>
                <button onclick="search()" id="catch">CATCH EM!</button>
                <select name="Region" id="region-select" >
                    <option value="" disabled selected>Region</option>
                    <option value="kanto">Kanto</option>
                    <option value="johto">Johto</option>
                    <option value="hoenn">Hoenn</option>
                    <option value="sinnoh">Sinnoh</option>
                    <option value="kanto">Kanto</option>
                    <option value="johto">Johto</option>
                    <option value="hoenn">Hoenn</option>
                    <option value="sinnoh">Sinnoh</option>
                </select>
            </div>
            <div id="team">
                <div class="column">
                    <div class="pokeBall" id="poke1" onclick="statDisplay(1)">
                        <img id="pokeSnap1" class="pokeSnap" src="/static/img/ui/pokeball.png">
                        <p id="pokeName1" class="pokeName"></p>
                    </div>
                    <div class="pokeBall" id="poke2" onclick="statDisplay(2)">
                        <img id="pokeSnap2" class="pokeSnap" src="/static/img/ui/pokeball.png">
                        <p id="pokeName2" class="pokeName"></p>
                    </div>
                    <div class="pokeBall" id="poke3" onclick="statDisplay(3)">
                        <img id="pokeSnap3" class="pokeSnap" src="/static/img/ui/pokeball.png">
                        <p id="pokeName3" class="pokeName"></p>
                    </div>
                </div>
                <div class="column">
                    <div class="pokeBall" id="poke4" onclick="statDisplay(4)">
                        <img id="pokeSnap4" class="pokeSnap" src="/static/img/ui/pokeball.png">
                        <p id="pokeName4" class="pokeName"></p>
                    </div>
                    <div class="pokeBall" id="poke5" onclick="statDisplay(5)">
                        <img id="pokeSnap5" class="pokeSnap" src="/static/img/ui/pokeball.png">
                        <p id="pokeName5" class="pokeName"></p>
                    </div>
                    <div class="pokeBall" id="poke6" onclick="statDisplay(6)">
                        <img id="pokeSnap6" class="pokeSnap" src="/static/img/ui/pokeball.png">
                        <p id="pokeName6" class="pokeName"></p>
                    </div>
                </div>
            </div>
            <div id="stats" style="display: none">
                <div id="stat-top">
                    <p id="stat-name">James</p>
                    <div id="types">
                        <img id="type1">
                        <img id="type2">
                    </div>
                    <div id="stat-buttons">
                        <button id="remove-button">Remove</button>
                        <button id="evolve-button">Evolve</button>
                    </div>
                    <div id="close">
                        <img src="/static/img/ui/pixelx.png" onclick="closeBox()" id="x">
                    </div>
                </div>
                <div id="stat-mid">
                    <div id="normal">
                        <p>Normal</p>
                        <img id="default-img">
                    </div>
                    <div id="shiny">
                        <p>Shiny</p>
                        <img id="shiny-img">
                    </div>
                    <div id="physical">
                        <p id="height"></p>
                        <p id="weight"></p>
                    </div>  
                    <div id="evolutions">
                        <img id="evolve-img1">
                        <p id="evolve-name"></p> 
                    </div>     
                </div>
            </div>
            <div id="stats-2" style="display: none;">

            </div>
        </main>
    </div>
</body>
</html>